<h1>Edit Article</h1>

<%= form_for :article, url: article_path(@article), method: :patch do |f| %>
   
<p>
    <%=f.label :title %><br>
    <%=f.text_field :title %>
    </p>
    <p>
        <%= f.label:content %><br>
        <%= f.text_field :content %>
    </p>
    
    <p>
        
        <%=f.submit %>
        </p>
        <% end%>